.box1 {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0px;
    right: 0px;
}

.box2 {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.box3 {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.box4 {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}